<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <link rel="icon" type="image/png" th:href="@{/icon.png}"
    class="img-fluid" style="width:50px; height: 50px;" alt=""/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="~{navigation :: navi(Shop)}"></div>


<div class="container">
    <br>
    <br>
    <br>
    <h1>Книги:</h1>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Номер</th>
            <th>Изображение</th>
            <th>Название товара</th>
            <th>Количество</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr class="thead-light" th:each="book, stat : ${books}">
            <td th:text="${book.id}"></td>
            <td>
                
                <img th:href="@{/icon.png}"
                     class="card img-fluid" style="width:50px; height: 50px;" alt="" src=""/>
            </td>
            <td th:text="${book.getBook_name()}"></td>
            <td th:text="${book.getPrise()}"></td>
            <td th:text="${book.getPage_count()}"></td>

        </tr>
        </tbody>

    </table>
</div>

</body>
</html>